.image-container {
    text-align: center;
    margin: auto;
    width: 500px;
    
}
.main-container{
    margin-top: 20px;
    border:1px solid black;
    height: 300px;
    border-radius: 12px;
    padding: 14px 18px;
    
    
}

.main-form{
    text-align: center;
}

.create-account-button{
    margin-top: 100px;
    
}
.div-username{
    margin-top: 15px;
}
.div-email{
    margin-top: 15px;
}

.div-password{
    margin-top: 15px;
}
.div-password-confirm{
    margin-top: 15px;
}
.confirm-button{
    margin-top: 50px;

}