.image-container {
    text-align: center;
    margin: auto;
    width: 31.25rem;
    
}
.main-container{
    margin-top: 1.25rem;
    border: 0.060rem solid black;
    height: 18.75rem;
    border-radius: 0.75rem;
    padding: 0.875rem 1.125rem;
    
}

.main-form{
    text-align: center;
}

.create-account-button{
    margin-top: 6.25rem;
    
}
.div-username{
    margin-top: 0.935rem;
}
.div-email{
    margin-top: 0.935rem;
}

.div-password{
    margin-top: 0.935rem;
}
.div-password-confirm{
    margin-top: 0.935rem;
}
.confirm-button{
    margin-top: 0.935rem;

}