.your-class::before {
    color: white;   
}

.category-main {
    text-align: center;
    
}
.category-main h2 {
    color: antiquewhite;
    border-radius: 4px;
    box-shadow: 
    0 6px 6px rgba(0, 0, 0, 0.2), 
    0 0 6px rgba(115, 13, 173, 0.9),
    0 0 6px rgba(255, 20, 147, 0.9);  
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}


.slick-dots li.slick-active button:before {
    opacity: .75;
    color: white;
}
