.movie-title {
    color: var(--black-100);
    background-color: var(--white-100);
    padding: 0.310rem;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.movie-title:hover {
    background-color: var(--purple-900);
    color: var(--white-100);
    cursor: pointer;
}

.card-button {
    color:var(--purple-900)
}

.card-button:hover {
    color:var(--purple-900)
}
