.search-bar {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 0.625rem 1.25rem;
  color: var(--white-900);
  font-family: 'Montserrat', sans-serif;
  border-radius: 0.rem;
  background: linear-gradient(to right, #6A0DAD, #FF1493);
  height: 3.75rem;
  transition: height 0.3s ease; 
}


h1 {
  cursor: pointer;
}
h1:hover {
  color: var(--white-300);
}


.search-bar-button button,
.auth-button {
  padding: 0.5rem 1rem;
  background-color:var(--white-300);
  color: var(--purple-900);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.search-bar-button button:hover,
.auth-button:hover {
  background-color: var(--white-300);
}

.user-profile {
  margin-left: auto; 
  display: flex;
  align-items: center;
  cursor: pointer;

}


.user-profile svg {
  width: 100%;
  height: auto;
  color: aliceblue;
  max-width: 2.5rem; 
  transition: width 0.3s ease;
}

.user-profile svg:hover{
  color: var(--white-300);
}

@media (max-width: 768px) {
  .search-input {
    width: 9.375rem;
  }
  
  .user-profile svg {
    max-width: 1.875rem;
  }
}