:root{
    --white-100: #ffffff;
    --white-300: #FFE4E1;
    --white-900: #faebd7;
    --purple-900: #1A1A2E;
    --black-100: #2E2E2E;

}

/*
:focus{
    outline: transparent;
    box-shadow: 0 0 0 2px var(--green-500);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--gray-900);
    color: var(--gray-300);
    -webkit-font-smoothing:antialiased;

}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
} */